Plugins,"Bacteria Regions", com.braincadet.bacannot.BacteriaRegions
Plugins,"Bacteria Annotation", com.braincadet.bacannot.BacteriaAnnotator
Plugins,"ML Regions", com.braincadet.bacannot.BacteriaMLRegions
Plugins,"Patch Extractor", com.braincadet.bacannot.PatchExtractor
Plugins,"Colony Inspector", com.braincadet.bacannot.ColonyInspector
Plugins,"Generate stack image", com.braincadet.bacannot.StackImageModel